# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=""
AUTH_TRUST_HOST=true
AGENT_DELEGATE_SECRET=""
SUBAGENT_MODEL=""

# The following keys below are automatically created and
# added to your environment when you deploy on Vercel

# Instructions to create an AI Gateway API key here: https://vercel.com/ai-gateway 
# API key required for non-Vercel deployments
# For Vercel deployments, OIDC tokens are used automatically
# https://vercel.com/ai-gateway
AI_GATEWAY_API_KEY=""

GOOGLE_GENERATIVE_API_KEY=""

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=""

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/postgres
POSTGRES_URL=""

# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Base URL for public webhooks
BASE_URL="https://your-ngrok-url.ngrok-free.app"

# Composio
COMPOSIO_WEBHOOK_SECRET=""
COMPOSIO_API_KEY=""

# Upstash QStash (Cron tasks & Webhooks)
QSTASH_URL=""
QSTASH_TOKEN=""
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""

# Upstash Vector (RAG)
UPSTASH_VECTOR_REST_URL=""
UPSTASH_VECTOR_REST_TOKEN=""

# Telegram Bot
TELEGRAM_SECRET_TOKEN=""

# Daytona Sandbox
DAYTONA_API_KEY=""
DAYTONA_ORGANIZATION_ID=""

# Oracle Cloud
OCI_TENANCY_OCID=""
OCI_USER_OCID=""
OCI_FINGERPRINT=""
OCI_PRIVATE_KEY=""
OCI_REGION="us-ashburn-1"
OCI_COMPARTMENT_ID=""
